In [1]:
import pandas as pd
import scipy as sp
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt

%matplotlib inline

In [38]:
def type_reduce(f_t):
    return int(f_t.split(' ')[1])

## People

In [30]:
people = pd.read_csv('people.csv',index_col='people_id')

In [31]:
people.info()

<class 'pandas.core.frame.DataFrame'>
Index: 189118 entries, ppl_100 to ppl_99997
Data columns (total 40 columns):
char_1     189118 non-null object
group_1    189118 non-null object
char_2     189118 non-null object
date       189118 non-null object
char_3     189118 non-null object
char_4     189118 non-null object
char_5     189118 non-null object
char_6     189118 non-null object
char_7     189118 non-null object
char_8     189118 non-null object
char_9     189118 non-null object
char_10    189118 non-null bool
char_11    189118 non-null bool
char_12    189118 non-null bool
char_13    189118 non-null bool
char_14    189118 non-null bool
char_15    189118 non-null bool
char_16    189118 non-null bool
char_17    189118 non-null bool
char_18    189118 non-null bool
char_19    189118 non-null bool
char_20    189118 non-null bool
char_21    189118 non-null bool
char_22    189118 non-null bool
char_23    189118 non-null bool
char_24    189118 non-null bool
char_25    189118 non-null bool
char_26    189118 non-null bool
char_27    189118 non-null bool
char_28    189118 non-null bool
char_29    189118 non-null bool
char_30    189118 non-null bool
char_31    189118 non-null bool
char_32    189118 non-null bool
char_33    189118 non-null bool
char_34    189118 non-null bool
char_35    189118 non-null bool
char_36    189118 non-null bool
char_37    189118 non-null bool
char_38    189118 non-null int64
dtypes: bool(28), int64(1), object(11)
memory usage: 23.8+ MB

Each people has people_id, date, group_1 and 38 chars

In [32]:
people.head()

,char_1,group_1,char_2,date,char_3,char_4,char_5,char_6,char_7,char_8,...,char_29,char_30,char_31,char_32,char_33,char_34,char_35,char_36,char_37,char_38
people_id,,,,,,,,,,,,,,,,,,,,,
ppl_100,type 2,group 17304,type 2,2021-06-29,type 5,type 5,type 5,type 3,type 11,type 2,...,False,True,True,False,False,True,True,True,False,36
ppl_100002,type 2,group 8688,type 3,2021-01-06,type 28,type 9,type 5,type 3,type 11,type 2,...,False,True,True,True,True,True,True,True,False,76
ppl_100003,type 2,group 33592,type 3,2022-06-10,type 4,type 8,type 5,type 2,type 5,type 2,...,False,False,True,True,True,True,False,True,True,99
ppl_100004,type 2,group 22593,type 3,2022-07-20,type 40,type 25,type 9,type 4,type 16,type 2,...,True,True,True,True,True,True,True,True,True,76
ppl_100006,type 2,group 6534,type 3,2022-07-27,type 40,type 25,type 9,type 3,type 8,type 2,...,False,False,True,False,False,False,True,True,False,84

In [33]:
people.describe()

             char_38
count  189118.000000
mean       50.327399
std        35.752127
min         0.000000
25%        10.000000
50%        58.000000
75%        83.000000
max       100.000000

In [ ]:
people.group_1.value_counts().hist(bins=100)

In [34]:
people.index.is_unique

True

In [35]:
people.char_10.value_counts()

False    141660
True      47458
Name: char_10, dtype: int64

### Check char

#### Non binary (1-9)

In [51]:
nb_col = people.columns[people.columns.isin(['char_'+str(i+1) for i in xrange(9)])]
print nb_col

Index([u'char_1', u'char_2', u'char_3', u'char_4', u'char_5', u'char_6',
       u'char_7', u'char_8', u'char_9'],
      dtype='object')

In [61]:
nb=people[nb_col].applymap(type_reduce)

In [ ]:
pd.scatter_matrix(nb)

array([[<matplotlib.axes._subplots.AxesSubplot object at 0x0000000022EC77B8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000001D0F1EF0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x0000000014B8A7F0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000002A133DA0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x0000000010B9CC50>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000000111D3518>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000001B805D30>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000001B7BA048>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000000178AF588>],
       [<matplotlib.axes._subplots.AxesSubplot object at 0x000000000EDC11D0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000000267FF860>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000001F656F28>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000001A66E208>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000001F61BE48>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000000E9FE5940>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000000EDB53208>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000001B2B8978>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000000149C7E10>],
       [<matplotlib.axes._subplots.AxesSubplot object at 0x00000000C3875518>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000000F4461940>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000000162FC128>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000000D619EB8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000000A5118B38>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000000A4D0B278>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000008CDC5CF8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000007E5B46A0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000000EE08F748>],
       [<matplotlib.axes._subplots.AxesSubplot object at 0x000000009CE50DA0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000000D5A5EAC8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000000D5D12BE0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000000D59157B8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000009C9A9A20>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000000ED622BA8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000000EA489C50>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000000184FC5F8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x0000000019C3DFD0>],
       [<matplotlib.axes._subplots.AxesSubplot object at 0x00000000BF6FF128>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x0000000010DF8CC0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000000EF8FC748>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000000D53C0F0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000000934D9198>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000000CE581B00>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000000F3F32518>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000000A4D57630>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000000D4FFF208>],
       [<matplotlib.axes._subplots.AxesSubplot object at 0x00000000C878DC50>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000000C734C5F8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000000C39496A0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000000B7F3C048>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000000B7FB3780>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000000B6481588>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000000B66DE780>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000000B609A978>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000000B5D5C320>],
       [<matplotlib.axes._subplots.AxesSubplot object at 0x00000000B5BF7B00>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000000B599E4A8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000000B57725C0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000000A54DC048>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000000A54DCDA0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000000A4E557F0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000000944CA198>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000007E662438>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x0000000066640128>],
       [<matplotlib.axes._subplots.AxesSubplot object at 0x00000000ED4C59B0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000000ED2DA5C0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000000ECF6B5C0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000000E9E9C898>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000000740E2240>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x0000000025215358>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000007409ACC0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x0000000074261240>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000002300F4E0>],
       [<matplotlib.axes._subplots.AxesSubplot object at 0x00000000144AFE48>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000000228791D0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000001E46EB38>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000000D00CA780>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000000CA21B7B8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000002D0438D0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000002E044080>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x0000000034EEACC0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x0000000036E616A0>]], dtype=object)

#### Binary (10-38)

## Activity

In [9]:
act_train = pd.read_csv('act_train.csv')

In [10]:
act_train.head()

,people_id,activity_id,date,activity_category,char_1,char_2,char_3,char_4,char_5,char_6,char_7,char_8,char_9,char_10,outcome
0,ppl_100,act2_1734928,2023-08-26,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 76,0
1,ppl_100,act2_2434093,2022-09-27,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,0
2,ppl_100,act2_3404049,2022-09-27,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,0
3,ppl_100,act2_3651215,2023-08-04,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,0
4,ppl_100,act2_4109017,2023-08-26,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,0

In [23]:
act_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2197291 entries, 0 to 2197290
Data columns (total 15 columns):
people_id            object
activity_id          object
date                 object
activity_category    object
char_1               object
char_2               object
char_3               object
char_4               object
char_5               object
char_6               object
char_7               object
char_8               object
char_9               object
char_10              object
outcome              int64
dtypes: int64(1), object(14)
memory usage: 251.5+ MB

In [24]:
act_train.describe()

            outcome
count  2.197291e+06
mean   4.439544e-01
std    4.968491e-01
min    0.000000e+00
25%    0.000000e+00
50%    0.000000e+00
75%    1.000000e+00
max    1.000000e+00

In [25]:
act_train.activity_category.value_counts()

type 2    904683
type 5    490710
type 3    429408
type 4    207465
type 1    157615
type 6      4253
type 7      3157
Name: activity_category, dtype: int64

In [27]:
act_train[act_train.activity_category=='type 1']

,people_id,activity_id,date,activity_category,char_1,char_2,char_3,char_4,char_5,char_6,char_7,char_8,char_9,char_10,outcome
52,ppl_100025,act1_9923,2022-11-25,type 1,type 3,type 5,type 1,type 1,type 6,type 3,type 3,type 6,type 8,NaN,0
105,ppl_100033,act1_198174,2022-07-26,type 1,type 36,type 11,type 5,type 1,type 6,type 1,type 1,type 4,type 1,NaN,0
106,ppl_100033,act1_214090,2023-06-15,type 1,type 24,type 6,type 6,type 3,type 1,type 3,type 4,type 5,type 1,NaN,0
107,ppl_100033,act1_230588,2023-02-28,type 1,type 2,type 2,type 3,type 3,type 5,type 2,type 2,type 4,type 2,NaN,0
108,ppl_100033,act1_271874,2022-07-26,type 1,type 2,type 5,type 3,type 2,type 6,type 1,type 1,type 6,type 8,NaN,0
124,ppl_100035,act1_104259,2023-07-28,type 1,type 5,type 2,type 7,type 3,type 1,type 3,type 5,type 4,type 7,NaN,1
125,ppl_100035,act1_188526,2023-02-03,type 1,type 5,type 2,type 8,type 3,type 1,type 2,type 6,type 9,type 13,NaN,1
126,ppl_100035,act1_212220,2023-02-02,type 1,type 3,type 2,type 8,type 3,type 1,type 2,type 3,type 9,type 13,NaN,1
127,ppl_100035,act1_313621,2023-02-03,type 1,type 5,type 2,type 8,type 3,type 1,type 2,type 2,type 9,type 13,NaN,1
128,ppl_100035,act1_336085,2023-02-03,type 1,type 5,type 2,type 8,type 3,type 1,type 2,type 2,type 9,type 13,NaN,1
129,ppl_100035,act1_386098,2022-11-15,type 1,type 2,type 2,type 3,type 3,type 1,type 2,type 2,type 18,type 9,NaN,1
130,ppl_100035,act1_54104,2022-11-12,type 1,type 2,type 2,type 5,type 3,type 1,type 2,type 1,type 18,type 9,NaN,1
186,ppl_100045,act1_319273,2022-09-21,type 1,type 12,type 1,type 5,type 4,type 6,type 1,type 1,type 14,type 15,NaN,0
187,ppl_100045,act1_354691,2022-09-21,type 1,type 12,type 1,type 5,type 4,type 6,type 1,type 1,type 14,type 15,NaN,0
206,ppl_100047,act1_218610,2022-11-14,type 1,type 36,type 1,type 5,type 1,type 6,type 1,type 1,type 7,type 4,NaN,0
219,ppl_100050,act1_212299,2023-02-25,type 1,type 3,type 5,type 8,type 3,type 6,type 2,type 3,type 9,type 8,NaN,1
220,ppl_100050,act1_264670,2023-02-25,type 1,type 3,type 5,type 8,type 3,type 6,type 2,type 3,type 9,type 8,NaN,1
231,ppl_100052,act1_247347,2023-08-15,type 1,type 5,type 2,type 8,type 3,type 1,type 3,type 4,type 9,type 13,NaN,0
232,ppl_100052,act1_38625,2023-02-12,type 1,type 23,type 16,type 1,type 3,type 1,type 3,type 3,type 4,type 6,NaN,0
243,ppl_100058,act1_319058,2022-12-28,type 1,type 12,type 14,type 5,type 4,type 6,type 1,type 1,type 3,type 3,NaN,0
250,ppl_10006,act1_166510,2022-11-17,type 1,type 2,type 2,type 1,type 3,type 5,type 2,type 2,type 4,type 3,NaN,1
251,ppl_10006,act1_180018,2023-06-16,type 1,type 3,type 5,type 1,type 3,type 6,type 3,type 3,type 4,type 8,NaN,1
252,ppl_10006,act1_19122,2023-06-08,type 1,type 3,type 14,type 4,type 3,type 1,type 3,type 3,type 4,type 15,NaN,1
253,ppl_10006,act1_40319,2023-06-08,type 1,type 3,type 14,type 4,type 3,type 1,type 3,type 3,type 4,type 15,NaN,1
254,ppl_10006,act1_411414,2022-11-17,type 1,type 2,type 2,type 1,type 3,type 5,type 2,type 2,type 4,type 3,NaN,1
261,ppl_100060,act1_17037,2023-08-31,type 1,type 5,type 2,type 1,type 3,type 2,type 2,type 3,type 4,type 15,NaN,0
262,ppl_100062,act1_100341,2022-09-16,type 1,type 12,type 4,type 5,type 4,type 6,type 1,type 1,type 8,type 12,NaN,1
263,ppl_100063,act1_158755,2022-12-16,type 1,type 12,type 8,type 1,type 4,type 6,type 2,type 6,type 11,type 6,NaN,0
268,ppl_100066,act1_359585,2022-12-29,type 1,type 12,type 8,type 1,type 4,type 6,type 4,type 6,type 11,type 6,NaN,0
279,ppl_10007,act1_248549,2023-06-01,type 1,type 7,type 5,type 6,type 3,type 6,type 2,type 3,type 5,type 8,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2196920,ppl_99919,act1_2844,2023-02-17,type 1,type 1,type 3,type 1,type 1,type 1,type 1,type 1,type 1,type 1,NaN,0
2196922,ppl_99920,act1_193860,2023-05-26,type 1,type 7,type 3,type 3,type 3,type 1,type 2,type 3,type 4,type 1,NaN,0
2196927,ppl_99924,act1_268561,2023-05-02,type 1,type 7,type 1,type 4,type 1,type 6,type 2,type 2,type 8,type 12,NaN,0
2196929,ppl_99925,act1_125686,2022-11-16,type 1,type 12,type 9,type 1,type 3,type 3,type 2,type 2,type 1,type 6,NaN,1
2196930,ppl_99925,act1_159998,2022-11-02,type 1,type 12,type 2,type 9,type 3,type 3,type 3,type 6,type 1,type 15,NaN,1
2196931,ppl_99925,act1_387818,2022-09-20,type 1,type 12,type 9,type 2,type 3,type 3,type 3,type 2,type 4,type 15,NaN,1
2197021,ppl_99935,act1_14274,2022-08-30,type 1,type 1,type 11,type 5,type 1,type 6,type 1,type 1,type 2,type 17,NaN,0
2197022,ppl_99935,act1_1566,2022-09-14,type 1,type 2,type 5,type 5,type 3,type 6,type 1,type 1,type 4,type 8,NaN,0
2197023,ppl_99935,act1_172675,2022-09-14,type 1,type 2,type 5,type 5,type 3,type 6,type 1,type 1,type 4,type 8,NaN,0
2197024,ppl_99935,act1_23526,2022-09-14,type 1,type 2,type 5,type 5,type 3,type 6,type 1,type 1,type 4,type 8,NaN,0
2197025,ppl_99935,act1_254413,2022-09-14,type 1,type 2,type 5,type 5,type 3,type 6,type 1,type 1,type 4,type 8,NaN,0
2197026,ppl_99935,act1_281124,2022-09-14,type 1,type 2,type 5,type 5,type 3,type 6,type 1,type 1,type 4,type 8,NaN,0
2197027,ppl_99935,act1_291160,2022-08-30,type 1,type 2,type 5,type 5,type 3,type 6,type 2,type 1,type 4,type 8,NaN,0
2197028,ppl_99935,act1_322005,2022-09-14,type 1,type 2,type 5,type 5,type 3,type 6,type 1,type 1,type 4,type 8,NaN,0
2197029,ppl_99935,act1_366242,2022-09-13,type 1,type 2,type 5,type 8,type 3,type 6,type 1,type 8,type 9,type 8,NaN,0
2197030,ppl_99935,act1_388309,2022-09-14,type 1,type 2,type 5,type 5,type 3,type 6,type 1,type 1,type 4,type 8,NaN,0
2197031,ppl_99935,act1_45837,2022-09-14,type 1,type 2,type 5,type 5,type 3,type 6,type 1,type 1,type 4,type 8,NaN,0
2197032,ppl_99935,act1_58859,2022-09-14,type 1,type 2,type 5,type 5,type 3,type 6,type 1,type 1,type 4,type 8,NaN,0
2197035,ppl_99937,act1_339611,2022-11-11,type 1,type 5,type 2,type 1,type 3,type 1,type 2,type 2,type 4,type 12,NaN,1
2197144,ppl_99939,act1_212134,2022-12-22,type 1,type 10,type 12,type 5,type 6,type 6,type 1,type 1,type 7,type 4,NaN,0
2197157,ppl_99947,act1_177448,2022-09-08,type 1,type 6,type 8,type 5,type 3,type 2,type 1,type 1,type 4,type 6,NaN,0
2197158,ppl_99947,act1_222160,2022-09-08,type 1,type 3,type 8,type 1,type 3,type 2,type 2,type 3,type 4,type 6,NaN,0
2197163,ppl_99955,act1_396718,2023-06-01,type 1,type 7,type 5,type 6,type 3,type 6,type 2,type 3,type 5,type 8,NaN,0
2197192,ppl_9997,act1_135120,2023-03-21,type 1,type 3,type 1,type 1,type 3,type 2,type 2,type 3,type 4,type 2,NaN,0
2197195,ppl_99973,act1_133169,2022-09-01,type 1,type 12,type 1,type 5,type 4,type 6,type 1,type 1,type 14,type 15,NaN,0
2197196,ppl_99973,act1_272254,2022-09-01,type 1,type 12,type 1,type 5,type 4,type 6,type 1,type 1,type 2,type 17,NaN,0
2197220,ppl_99977,act1_204921,2023-01-04,type 1,type 12,type 8,type 8,type 4,type 6,type 3,type 6,type 12,type 13,NaN,1
2197227,ppl_99978,act1_245264,2023-03-16,type 1,type 30,type 6,type 3,type 3,type 1,type 2,type 2,type 4,type 1,NaN,1
2197233,ppl_99981,act1_9232,2023-01-26,type 1,type 12,type 8,type 8,type 4,type 6,type 3,type 5,type 12,type 13,NaN,0
2197245,ppl_99994,act1_330864,2023-06-27,type 1,type 5,type 2,type 1,type 3,type 1,type 2,type 5,type 4,type 6,NaN,1